@charset "utf-8";

/********** report **********/

.reportContent {
    background-color: #ecf2f6;
    padding: 20px;
}

.reportPanel,
.reportPanel .list {
    width: 100%;
}

.reportPanel .panel {
    width: 300px;
    margin: 10px;
    float: left;
    position: relative;
}

.reportPanel .panel .info {
    background-color: #FFF;
    border-radius: 5px;
    padding: 15px 20px 10px 20px;
}

.reportPanel .panel .info .title {
    font-size: 20px;
    color: #334455;
    line-height: 30px;
}

.reportPanel .panel .info .data {
    font-size: 16px;
    color: #44bbcc;
    line-height: 22px;
}

.reportPanel .panel .info .up {
    font-size: 45px;
    color: #ff5454;
    line-height: 45px;
    position: relative;
    padding: 15px 0 0 20px;
    letter-spacing: -2px;
}

.reportPanel .panel .info .up span {
    font-size: 13px;
    color: #ff5454;
    margin-left: 4px;
}

.reportPanel .panel .info .down {
    font-size: 45px;
    color: #77cc55;
    line-height: 45px;
    position: relative;
    padding: 15px 0 0 20px;
    letter-spacing: -2px;
}

.reportPanel .panel .info .down span {
    font-size: 13px;
    color: #77cc55;
    margin-left: 4px;
}

.reportPanel .panel .icon {
    position: absolute;
    top: 10px;
    right: 15px;
}

.reportPanel .panel .btnPosition {
    position: absolute;
    bottom: 18px;
    right: 15px;
}

.reportList {
    /* height: 460px;  */
    margin: 0 10px;
}

.reportList header {
    height: 60px;
    background-color: #99aacc;
    padding: 0 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.reportList header .title {
    font-size: 20px;
    color: #FFF;
    line-height: 60px;
    float: left;
}

.reportList header .tab {
    float: right;
    margin-top: 12px;
}

.reportList header .tab li {
    float: left;
}

.reportList header .tab li a {
    font: 14px;
    color: #ddeeff;
    line-height: 35px;
    display: block;
    padding: 0 20px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.reportList header .tab li a:hover,
.reportList header .tab li a:active,
.reportList header .tab li a.active {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.reportList article {
    background-color: #FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 30px 10px 30px;
}

.reportList .table thead th {
    color: #445555;
    font-weight: normal;
    border-top: none;
}

.reportList .table tbody th {
    color: #334455;
}

.reportList .table tbody td {
    color: #445555;
}

.reportList .table thead th,
.reportList .table td,
.table th {
    border-color: #e4eff6;
}

.t_h2 tr th,
.t_h2 tr td {
    font-size: 1.2rem;
}

.table th {
    text-align: center;
}


/*************** RWD-1000px ***************/

@media screen and (max-width:1000px) {
    .wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .reportPanel .list .panel {
        width: 48%;
        margin: 1% 1% 10px 1%;
    }
}


/*************** RWD-767px ***************/

@media screen and (max-width:767px) {
    .reportPanel .list .panel {
        width: 98%;
        margin: 1% 1% 10px 1%;
    }
    .t_h2 tr th,
    .t_h2 tr td {
        font-size: 1rem;
    }
}


/***************when data loading , blur table  ***************/

.blurTable {
    background-size: cover;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: 1;
}

.red {
    background-color: #FFEDED;
}

.green {
    background-color: #EDFFED;
}

.blue {
    background-color: #EDEDFF;
}

.gray {
    background-color: #ecf2f6;
}