 <!--  panel_name 游戏名称 panel_name 游戏名称-->
                        <div class="panel_name">
                            <div class="area_rsearch_panel pd-10">
                                <!-- pick you panel_name-->
                                <div class="rsearch_name_panel row">
                                    <!-- start one panel_name -->
                                    <div class="col-md-4 col-xs-12">
                                        <select class=""><option>BB</option><option>SABA</option><option>AG</option><option>XTDBB</option></select></div>
                                    <div class="col-md-3 col-xs-12"><input class="" placeholder="请输入Game Code"></div>
                                    <div class="col-md-3 col-xs-12"><input class="" placeholder="请输入游戏名称"></div>
                                </div>
                                <!-- pick you panel_name//-->

                                <!-- show pick panel_name-->
                                <div class="panel__showpick pd-10">
                                    <div class="showpick">
                                        <div class="showpick_l">BB</div>
                                        <div class="showpick_r">体育,3D</div>
                                    </div>
                                    <div class="showpick">
                                        <div class="showpick_l">XTD</div>
                                        <div class="showpick_r">真人</div>
                                    </div>
                                    <div class="showpick">
                                        <div class="showpick_l">MG2</div>
                                        <div class="showpick_r">电子,HTML5</div>
                                    </div>
                                    <div class="showpick">
                                        <div class="showpick_l">GPI</div>
                                        <div class="showpick_r">真人,电子3D</div>
                                    </div>
                                </div>
                                <!-- show pick panel_name//-->

                                <div class="txt-r line_up mt-10"><button class="dspin-b mlr-5" id=''>全选</button> <button class="dspin-b mlr-5" id=''>清除</button> <button class="dspin-b mlr-5 bgliyl" id=''>开始查询</button></div>

                            </div>
                        </div>
                        <!--  panel_name 游戏名称 panel_name 游戏名称 //-->