<!--  panel_category 游戏类别 panel_category 游戏类别-->
                        <div class="panel_category">
                            <div class="area_rsearch_panel pd-10">
                                <!-- pick you category-->
                                <div class="rsearch_panel">
                                    <!-- start one case -->
                                    <table class="table_button" width="100%">
                                        <tr>
                                            <td class="table_rline big_castle t-center">
                                                <button class="mt-10 w75 active">BB</button>
                                            </td>
                                            <td height="">
                                                <div class="Gtable_dtl">
                                                    <button class="wh mt-10 active">体育</button><button class="wh mt-10 active">視訊</button><button class="wh mt-10 active">賽馬</button><button class="wh mt-10 active">機率</button><button class="wh mt-10 active">3D</button>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- start one case //-->
                                    <!-- start one case -->
                                    <table class="table_button" width="100%">
                                        <tr>
                                            <td class="table_rline big_castle t-center">
                                                <button class="mt-10 w75">SABA</button>
                                            </td>
                                            <td height="">
                                                <div class="Gtable_dtl">

                                                    <button class="wh mt-10 active">体育</button><button class="wh mt-10 ">賽馬</button>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- start one case //-->
                                    <!-- start one case -->
                                    <table class="table_button" width="100%">
                                        <tr>
                                            <td class="table_rline big_castle t-center">
                                                <button class="mt-10 w75">AG</button>
                                            </td>
                                            <td height="">
                                                <div class="Gtable_dtl">
                                                    <button class="wh mt-10">視訊</button><button class="wh mt-10">電子</button><button class="wh mt-10">AGTEX</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- start one case //-->
                                    <!-- start one case -->
                                    <table class="table_button" width="100%">
                                        <tr>
                                            <td class="table_rline big_castle t-center">
                                                <button class="mt-10 w75 active">XTD</button>
                                            </td>
                                            <td height="">
                                                <div class="Gtable_dtl">
                                                    <button class="wh mt-10 active">真人</button>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- start one case //-->
                                    <!-- start one case -->
                                    <table class="table_button" width="100%">
                                        <tr>
                                            <td class="table_rline big_castle t-center">
                                                <button class="mt-10 w75">MG2</button>
                                            </td>
                                            <td height="">
                                                <div class="Gtable_dtl">
                                                    <button class="wh mt-10 active">機率</button><button class="wh mt-10 ">真人</button><button class="wh mt-10 active">賽馬</button><button class="wh mt-10 ">3D</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- start one case //-->
                                </div>
                                <!-- pick you category//-->

                                <!-- show pick category-->
                                <div class="panel__showpick pd-10">
                                    <div class="showpick">
                                        <div class="showpick_l">BB</div>
                                        <div class="showpick_r">体育,3D</div>
                                    </div>
                                    <div class="showpick">
                                        <div class="showpick_l">XTD</div>
                                        <div class="showpick_r">真人</div>
                                    </div>
                                    <div class="showpick">
                                        <div class="showpick_l">MG2</div>
                                        <div class="showpick_r">電子,HTML5</div>
                                    </div>
                                    <div class="showpick">
                                        <div class="showpick_l">GPI</div>
                                        <div class="showpick_r">真人,電子3D</div>
                                    </div>
                                </div>
                                <!-- show pick category//-->

                                <div class="txt-r line_up mt-10"><button class="dspin-b mlr-5" id=''>全选</button> <button class="dspin-b mlr-5" id=''>清除</button> <button class="dspin-b mlr-5 bgliyl" id=''>开始查询</button></div>
                            </div>
                        </div>
                        <!--  panel_category 游戏类别 panel_category 游戏类别 //-->